{{#each abstracts}}
<div class="card card-body">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/abstracts/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
    <form method="POST" action="/abstracts/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
</div>
{{else}}
<p>No abstracts listed</p>
{{/each}}
